.card-team {
  width: 100%;
  background-color: $bg-dark;
  margin: 10px 0;
  color: $text-dark;
  box-shadow: 0 0 3px blue, 0 0 3px blue;
  .card-img {
    width: 100%;
    height: 300px;
    box-shadow: 0 0 1px blue, 0 0 1px blue;
  }
  .info {
    padding: 0 20px;
    margin-top: 5px;
    background-color: $bg-light;
    box-shadow: 0 0 1px blue, 0 0 1px blue;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    p,
    .name {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
    .name {
      font-size: 30px;
    }
    .phone {
      font: {
        family: $Quantico;
      }
    }
  }
}
