// fonts
$Amiri: "Amiri", serif;
$Markazi: "Markazi Text", serif;
$Quantico: "Quantico", sans-serif;
$Roboto: "Roboto", sans-serif;

// theme colors
$bg-dark: #020514;
$bg-light: #eee;
$text-dark: #191919;
$text-light: #cac3bc;
